body {
    margin: 0px;
    font-family: 'Bangers';
    
    
    
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    font-family: 'Bangers';
    
    
}
a {
    color: $pistach;
    font-weight: 900;
    font-size: 2rem;
}