@mixin base-btn {
    cursor: pointer;
    height: 35px;
    font-size: 1.5em;
    font-weight: 500;
    font-family: 'Bangers';
    border: 1px solid;
    transition: 0.5s ease-in-out;
    background-color: rgb(255, 218, 125);
    color: rgb(13, 13, 12);
    
    
    &:active,
    &:focus {
        outline: none;
    }

    &:hover {
        background-color: whitesmoke;

        color: $pistach;
    }
}

@mixin base-grid() {
    display: grid;
    gap: 20px;
}



